.indigo.lighten-1 {
 background dark !important
 width 100%

.textlogo {

span.copy {

img {
 padding 15px
}

}// span

 }// .textlogo

.social {
 width 100%

.simi {
 background dark
 padding 15px
 border-top 6px solid white
 border-bottom 6px solid white
 border-left 6px solid white
 border-right 6px solid gray

a {
 color white
 goth()
 font-size 30px

span {
 color gray
 padding-left 8px
}// span

}// a

}// .simi

.face {
 background fb
 padding 23px
 border-top 6px solid white
 border-bottom 6px solid white
 border-left 6px solid white
 border-right 6px solid gray
 box-shadow 3px 3px 3px dark

}// .face

.insta {
 background ig
 padding 23px
 border-top 6px solid white
 border-bottom 6px solid white
 border-left 6px solid white
 border-right 6px solid gray
 box-shadow 3px 3px 3px dark

}// .insta

.email {
 background lblue
 padding 23px
 border-top 6px solid white
 border-bottom 6px solid white
 border-left 6px solid white
 border-right 6px solid gray
 box-shadow 3px 3px 3px dark
 
}// .email

i {
 font-size 28px

&.si {


}// &.simi

&.fb {

}// &.fb

&.ig {

}// &.ig

&.em {

}// &.email 

}// i

}// .social

}// footer.footer
