@import '/base/_colors'
@import '/base/_fonts'
@import '/base/_mixins'

.heim {

.post {

h1 {
 goth()
 font-size 16px

img {

}// img


}// h1

}// .post

}// .heim

// blogposts valmoguleikar
.ivu-modal {

.ivu-modal-content {
 width 100% !important
 margin 0
 padding 0

.ivu-modal-header-inner {

}// .ivu-modal-header-inner

.ivu-modal-close {
 color red !important
}// .ivu-modal-close

form {

ul {

li {

p {
 color theme !important

}// p

}// li

}// ul

.card__actions {

.spacer {
}

input.smit {
 background theme
 color white !important
 goth()
 font-size 14px
 padding-top 10px
 padding-bottom 10px
 padding-left 20px
 padding-right 20px
}// .smit

}// .card__actions

}// form

}// .ivu-modal-content 

.ivu-modal-footer {
 display none !important
}// .ivu-modal-footer

}// .ivu-modal